{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

                        <form class="form-horizontal" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}"
                                       class="col-sm-2 control-label">{{ form.email.label }}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                           id="{{ form.email.id_for_label }}"
                                           name="{{ form.email.html_name }}"
                                           placeholder="{{ form.email.label }}">
                                    {{ form.email.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input class="btn btn-default" type="submit" value="{% trans 'Reset my password' %}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
