{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="container">
            <div class="spacer_30">&nbsp;</div>
            <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                            <form class="form-horizontal" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.new_password1.id_for_label }}"
                                           class="col-sm-3 control-label">{% trans 'New password:' %}</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control"
                                               id="{{ form.new_password1.id_for_label }}"
                                               name="{{ form.new_password1.html_name }}"
                                               placeholder="{{ form.new_password1.label }}">
                                        {{ form.new_password1.errors|striptags }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.new_password2.id_for_label }}"
                                           class="col-sm-3 control-label">{% trans 'Confirm password:' %}</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control"
                                               id="{{ form.new_password2.id_for_label }}"
                                               name="{{ form.new_password2.html_name }}"
                                               placeholder="{{ form.new_password2.label }}">
                                        {{ form.new_password2.errors|striptags }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <input class="btn btn-default" type="submit"
                                               value="{% trans 'Change my password' %}"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="spacer_30">&nbsp;</div>
            <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
